<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" cxontent="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>

<body >
    <div style="text-align: center;">
    <h1>News Formatter</h1>
    <form action="/" method="POST" id="create-form">
        <input placeholder ="heading" name="heading" required><br><br>

        <input placeholder ="body" name="body" required><br><br>

        <input placeholder ="link" name="link" type="url" required><br><br>

        <input id="inpbutton" type="submit" value = "Submit">
    </form><br><br>
      Note: Enter URL starting with HTTP or HTTPS only

</div>  
</body>
</html>